<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><%- message %></p>
    <form action="/login" method="POST">
      <input type="text" placeholder="username"/>
      <input type="password" placeholder="password"/>
      <div class="cf-turnstile" data-sitekey="0x4AAAAAAAfuv8QX36Aww6kK"></div>
      <button type="submit" value="Submit">Log in</button>
    </form>
  </body>
</html>
